<p style="color: green"><%= notice %></p>

<%= link_to "New color", new_color_path %>

<h1>Colors</h1>

<div id="colors">
  <% @colors.each do |color| %>

    <div style="padding: 20px; background-color: <%= color.value %>;">
      <%= render color %>
    </div>

    <p>
      <%= link_to "Show this color", color %>
    </p>
  <% end %>
</div>

